body {
  margin: 0;
  background: #0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  background: #1e293b;
  margin-top: 10px;
  border-radius: 8px;
}

#controles {
  position: fixed;
  bottom: 20px;
  display: flex;
  gap: 20px;
}

#controles button {
  width: 70px;
  height: 70px;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  background: #22c55e;
}

#controles button:active {
  transform: scale(0.9);
}
