𝚋𝚘𝚍𝚢 {
    𝚖𝚊𝚛𝚐𝚒𝚗: 𝟶;
    𝚋𝚊𝚌𝚔𝚐𝚛𝚘𝚞𝚗𝚍-𝚌𝚘𝚕𝚘𝚛: #𝚏𝟶𝚏𝟶𝚏𝟶;
    𝚘𝚟𝚎𝚛𝚏𝚕𝚘𝚠: 𝚑𝚒𝚍𝚍𝚎𝚗;
    𝚝𝚘𝚞𝚌𝚑-𝚊𝚌𝚝𝚒𝚘𝚗: 𝚗𝚘𝚗𝚎;
}

#𝚐𝚊𝚖𝚎𝙲𝚊𝚗𝚟𝚊𝚜 {
    𝚍𝚒𝚜𝚙𝚕𝚊𝚢: 𝚋𝚕𝚘𝚌𝚔;
    𝚋𝚊𝚌𝚔𝚐𝚛𝚘𝚞𝚗𝚍-𝚌𝚘𝚕𝚘𝚛: #𝚌𝚌𝚎𝚎𝚏𝚏;
}

#𝚌𝚘𝚗𝚝𝚛𝚘𝚕𝚎𝚜 𝚋𝚞𝚝𝚝𝚘𝚗 {
    𝚙𝚘𝚜𝚒𝚝𝚒𝚘𝚗: 𝚊𝚋𝚜𝚘𝚕𝚞𝚝𝚎;
    𝚋𝚘𝚝𝚝𝚘𝚖: 𝟷𝟶𝚙𝚡;
    𝚠𝚒𝚍𝚝𝚑: 𝟼𝟶𝚙𝚡;
    𝚑𝚎𝚒𝚐𝚑𝚝: 𝟼𝟶𝚙𝚡;
    𝚏𝚘𝚗𝚝-𝚜𝚒𝚣𝚎: 𝟸𝟺𝚙𝚡;
    𝚋𝚘𝚛𝚍𝚎𝚛-𝚛𝚊𝚍𝚒𝚞𝚜: 𝟷𝟸𝚙𝚡;
    𝚋𝚘𝚛𝚍𝚎𝚛: 𝚗𝚘𝚗𝚎;
    𝚋𝚊𝚌𝚔𝚐𝚛𝚘𝚞𝚗𝚍-𝚌𝚘𝚕𝚘𝚛: #𝚏𝚏𝚏𝚏𝚏𝚏;
    𝚋𝚘𝚡-𝚜𝚑𝚊𝚍𝚘𝚠: 𝟶 𝟸𝚙𝚡 𝟼𝚙𝚡 𝚛𝚐𝚋𝚊(𝟶,𝟶,𝟶,𝟶.𝟹);
    𝚝𝚘𝚞𝚌𝚑-𝚊𝚌𝚝𝚒𝚘𝚗: 𝚖𝚊𝚗𝚒𝚙𝚞𝚕𝚊𝚝𝚒𝚘𝚗;
}
